<div class="raw">
    <div class="col-12">
        <div class="col-4">
            <% if (locals.username) { %>
            <div class="">
                <ul class="">
                    <li><a href="#">
                            <%= username %>
                        </a></li>
                    <li><a href="/logout">安全退出</a></li>
                </ul>
            </div>
            <% } %>
        </div>
    </div>
</div>