<div class="raw">
    <div class="col-12">
        <div class="col-8">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addMember">新建会员</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/memberList">会员列表</a>
                </li>
            </ul>
        </div>
    </div>
</div>